*.env
*.venv/
*.DS_Store
*pyrightconfig.json
*__pycache
*.ipynb_checkpoints
architecture.png
local_to_cloudvm.excalidraw
command_line.txt
notes/
prefect/prefect-zoomcamp/
prefect/test_workflow/
prefect/test_gcp/gcs_copy_data
prefect/test_gcp/local_raw_data
welcome-to-docker/
google-cloud-sdk/
IAM-gcloud/
docker/test_pandas
docker/test_postgre
docker/test_postgre_docker/ny_taxi_postgre_data
terraform/*
!terraform/.terraform-version
!terraform/main.tf
!terraform/variables.tf
!terraform/README.md
